<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="70"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="70"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="70"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="25"
            [radius]="70"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageWidth]="85"
            [imageHeight]="85"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [imageSrc]="'../assets/Bootstrap.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="70"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [unitsFontSize]="'20'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF5733'"
            [innerStrokeColor]="'#FF5733'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>    
    </div>


    
</div>

