<div class="row">


    <div class="col-xs-12 cal-sm-3 col-md-3 col-lg-3">
        <div>
            <div>
                <img src="../../../assets/img-perfil.jpg" class="img-fluid" id="fotodeperfil">
            </div>

            <div class="nombreytitulo">
                <div>
                    <p>{{persona.nombre}} {{persona.apellido}}</p>
                </div>

                <div *ngFor="let Acerca of acerca">
                    <p class="titulacionA">{{Acerca.titulacionA}}</p>
                </div>
            </div>



        </div>

    </div>



    <div class="acercademi col-xs-12 col-sm-12 col-md-9 col-lg-9">

        <div class="titulo">
            <h1>Acerca de mí</h1>
            <div *ngFor="let Acerca of acerca">
                    <div class="editbutton col-lg-1" *ngIf="isLogged">
                        <button class="btn btn-outline-primary" routerLink="/editacerca/{{Acerca.id}}">
                            <i class="bi bi-pencil"></i> 
                        </button>
                    </div>
    
            </div>
        </div>


        <div>
            <tbody>
                <tr *ngFor="let Acerca of acerca">
                    <div>
                        <td>{{Acerca.descripcionA}}</td>

                    </div>
        
                </tr>
        
            </tbody>

        </div>





    </div>