<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Reparacion de Computadoras</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus esse similique officiis harum officia! Mollitia quo aliquam architecto, nisi magnam tempore sed accusamus vel rerum esse odio omnis! Nulla, quia.</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/repair-icon.png" class="img-fluid img-proyecto">
        </div>

    </div>
</div>